@use './mixins' as *;
@use './breakpoints' as bp;

body {
  margin: 0;
}

body.preload {
  position: relative;
}

body.preload::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

body.loaded::before {
  opacity: 0;
  pointer-events: none;
}

.section {
  @include media(to-desktop) {
    padding-top: 48px;
  }

  @include media(desktop) {
    padding-top: 80px;
  }
}

.container {
  margin: 0 auto;

  @include media(to-desktop) {
    max-width: 373px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media(desktop) {
    max-width: 1442px;
    padding-left: 121px;
    padding-right: 121px;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;

    @include media(to-desktop) {
      text-align: center;
      font-size: 62px;
      color: #fdfdfd;
      margin-bottom: 12px;
    }

    @include media(desktop) {
      text-align: right;
      font-size: 72px;
      margin-bottom: 16px;
    }
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    line-height: 150%;

    @include media(to-desktop) {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @include media(desktop) {
      font-size: 40px;
    }
  }
}

.section-subtitle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.line {
  width: 100%;
  height: 6px;

  @include media(to-desktop) {
    margin-bottom: 48px;
  }

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.mb {
  @include media(desktop) {
    display: none;
  }
}

.desk {
  @include media(to-desktop) {
    display: none;
  }
}

pre {
  font-family: inherit;
  white-space: pre-line;
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  font-size: 40px;
}
