<section id="about" class="section about">
  <div class="container about-container">
    <span class="section-subtitle">About DesignVura</span>

    <picture>
      <source
        media="(min-width: 1442px)"
        srcset="/img/lines/line-desk.png"
        type="image/png" />
      <img
        src="/img/lines/line-mb.png"
        alt=""
        role="presentation"
        width="343"
        height="6"
        loading="lazy"
        class="line"
    /></picture>

    <div class="about-wrapper">
      <h2>More Than Aesthetic.<br />We Design Clarity.</h2>
      <p class="text">
        At<span style="font-weight: 500"> DesignVura, </span>we believe your
        visual identity should do more than look good — it should communicate
        who you are, grow with you, and inspire confidence. With a strategic
        design mindset, we bridge your brand vision and its visual output. From
        startups in stealth to businesses entering a new market, we make sure
        your brand visuals are future-ready.
      </p>
    </div>
  </div>
  <img
    src="/img/about/about.png"
    alt=""
    role="presentation"
    class="about-image"
    width="375"
    height="180"
    loading="lazy"
  />
</section>
