<section id="contact" class="section contact">
  <div class="container contact-container">
    <span class="section-subtitle">Contact Us</span>
    <picture>
      <source
        media="(min-width: 1442px)"
        srcset="/img/lines/line-desk.png"
        type="image/png" />
      <img
        src="/img/lines/line-mb.png"
        alt=""
        role="presentation"
        width="343"
        height="6"
        loading="lazy"
        class="line"
    /></picture>
    <h2>Let’s Make Your Brand Visually Unforgettable</h2>

    <div class="contact-wrapper">
      <a href="mailto:info@designvura.online" class="text contact-email">
        Email: <span style="font-weight: 400">info@designvura.online</span>
      </a>

      <dl class="contact-list">
        <dt class="text">Social Media:</dt>
        <dd
          class="text"
          style="
            font-weight: 400;
            text-decoration: underline;
            text-decoration-skip-ink: none;
          "
        >
          @DesignVuraStudio
        </dd>
      </dl>

      <p class="text">
        Hashtags to Share:<span class="contact-span" style="font-weight: 400">
          #DesignVura #VisualIdentityMatters #StartupDesignStrategy</span
        >
      </p>
    </div>
  </div>
  <picture>
    <source
      media="(min-width: 1442px)"
      srcset="/img/contact/contact-bg.png"
      type="image/png" />
    <img
      src="/img/contact/contact-bg-mb.png"
      alt=""
      role="presentation"
      width="375"
      height="541"
      loading="lazy"
      class="contact-bg"
  /></picture>
</section>
