<section id="services" class="section services">
  <div class="container services-container">
    <span class="section-subtitle">Our Services</span>
    <picture>
      <source
        media="(min-width: 1442px)"
        srcset="/img/lines/line-desk.png"
        type="image/png" />
      <img
        src="/img/lines/line-mb.png"
        alt=""
        role="presentation"
        width="343"
        height="6"
        loading="lazy"
        class="line"
    /></picture>

    <div class="services-wrapper">
      <h2>Visual Identity, Done Right</h2>

      <p class="text">
        We tailor each engagement based on your goals and brand stage.<br />Our
        key services include:
      </p>
    </div>

    <ul class="services-list">
      <li class="services-item">
        <img
          src="/img/services/settings@2x.png"
          alt="Settings"
          class="services-img"
          width="87"
          height="90"
          loading="lazy"
        />
        <p class="services-name">Logo Systems</p>
        <p class="services-text">
          Flexible mark and typography systems designed to adapt across mediums.
        </p>
      </li>

      <li class="services-item">
        <img
          src="/img/services/hexagon-emblem@2x.png"
          alt="Hexagon emblem"
          class="services-img"
          width="87"
          height="90"
          loading="lazy"
        />
        <p class="services-name">Visual Direction</p>
        <p class="services-text">
          Art direction, tone, and reference boards to guide photography, video,
          and illustration.
        </p>
      </li>

      <li class="services-item">
        <img
          src="/img/services/segmented-pie-chart@2x.png"
          alt="Segmented pie chart"
          class="services-img"
          width="87"
          height="90"
          loading="lazy"
        />
        <p class="services-name">Brand Stylekits</p>
        <p class="services-text">
          Scalable guidelines covering layout, color, motion, and interaction
          cues.
        </p>
      </li>

      <li class="services-item">
        <img
          src="/img/services/3D-cube@2x.png"
          alt="3D cube"
          class="services-img"
          width="87"
          height="90"
          loading="lazy"
        />
        <p class="services-name">Design Audits</p>
        <p class="services-text">
          Critique of existing visuals and suggestions for evolution or refresh.
        </p>
      </li>
      <li class="services-item">
        <img
          src="/img/services/user-profile-silhouette@2x.png"
          alt="User profile silhouette"
          class="services-img"
          width="87"
          height="90"
          loading="lazy"
        />
        <p class="services-name">Founder Coaching</p>
        <p class="services-text">
          One-on-one sessions to help non-designers make design-led decisions.
        </p>
      </li>
    </ul>
  </div>
</section>
