@use './common/mixins' as *;
@use './common/breakpoints' as bp;

.cookie-popup {
  background-color: #222222;
  color: #fdfdfd;
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.popup-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media(to-desktop) {
    padding-right: 15px;
    padding-left: 15px;
    width: 373px;
    gap: 32px;
  }

  @include media(desktop) {
    padding-left: 281px;
    padding-right: 281px;
    width: 1442px;
    gap: 36px;
  }
}

.show-popup {
  @include media(to-desktop) {
    display: block;
  }

  @include media(desktop) {
    display: flex;
  }
}

.cookies-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(to-desktop) {
    gap: 20px;
  }

  @include media(desktop) {
    gap: 80px;
  }
}

.cookie-btn {
  font-family: inherit;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 137%;
  height: 42px;
  width: 159px;
  color: #fdfdfd;
  background-color: transparent;

  &.accept-btn {
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #5b3eff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      background-color: #5b3eff;
    }
  }

  &.decline-btn {
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #5b3eff;

    &:hover,
    &:focus {
      border-radius: 8px;

      background-color: #5b3eff;
      border: none;
    }
  }
}

.cookies-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
}
